*.DS_Store
atlassian*.xml
ajcore*.txt
*.iml
*.eml
*.ipr
*.iws
.idea/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
.cproject
target/
.class
deploy.properties
.com.apple.timemachine.supported

Email_XSL/
fraudMsg_XSL/
xsl/
images/
