<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Parent | ${projectName}</title>
        <author email="mike@clickconcepts.com">Mike!</author>
        <date>2/1/2012</date>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
    <head>
        <title>Parent | ${projectName}</title>
        <meta content="this is Mike's site docs" name="description"/>
    </head>

    <body>
        <!-- The body of the document contains a number of sections -->
        <section name="section 1">
            <h1>Parent POM</h1>
        </section>
    </body>
</document>