<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Twitter Service | ${projectName}</title>
        <author email="mike@clickconcepts.com">Mike!</author>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
    <head>
        <title>${title}</title>
        <meta content="this is Mike's site docs" name="description"/>
    </head>

    <body>
        <!-- The body of the document contains a number of sections -->
        <section name="section 1">
            <h1>Twitter Status Webapp</h1>
            <h2>Provides Web interface utilizing sub-module "TwitterSearch"</h2>
        </section>
        <section name="other section">
            <p>NOTE: This only pulls the last 7 days worth of twitter feeds</p>
            <!-- You can also include preformatted source blocks in the document -->
            <source>
                http://localhost:8080/twitter/name
            </source>
        </section>
    </body>
</document>